body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.board {
    width: 30vw;
    height: 30vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.rows {
    border-bottom: 0.1px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

.squares {
    border-right: 0.1px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 43vw;
}

.UI {
    width: 7vw;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
}

button[value="clear"]{
    width: auto;
}

.container h3{
    border-bottom: 1px solid black;
    display: flex;
}

.title {
    height: 15vh;
    color: white;
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    font-size: 36px;
}